<div class="industry-wrapper">
    <div class="industry-header" id="finance">
        <h2>Industry Expertise</h2>
        <hr />
    </div>
    <div class="industry-content">
        <div id="finance" class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>financial services</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/financial_services.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-finance col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="insurance" class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p class="visible-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <p class="visible-xs" id="insurance-responsive"></p>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-xs-12 col-sm-12">
                <div class="image-heading"><h4>insurance</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/insurance.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-insurance col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="pharmaceuticals">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>insurance</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/insurance.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>pharmaceuticals</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/pharmaceuticals.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-pharmaceuticals col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="ecommerce">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>ecommerce</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/ecommerce.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-ecommerce col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="healthcare">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>ecommerce</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/ecommerce.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>healthcare</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/healthcare.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-healthcare col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="media">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>media</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/media.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-media col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="telecom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>media</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/media.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>telecom</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/telecom.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-telecom col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="hospitality">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-xs hidden-lg hidden-md visible-sm">
                <div class="image-heading"><h4>hospitality</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/hospitality.jpg" class="img-responsive" alt="Services" />
            </div>

            <div class="content-right border-hospitality col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="retail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>hospitality</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/hospitality.jpg" class="img-responsive" alt="Services" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>retail</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/retail.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-retail col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
    </div>
</div>
<section class="center slider" style="float:left; width:100%;">
    <ul id="scroller">
        <li><img src="../wp-content/themes/twentyfifteen/images/cl1.png" alt="Woocommerce" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl2.png" alt="bb press" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl3.png" alt="MySql" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl4.png" alt="Wordpress" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl5.png" alt="JQuery" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl1.png" alt="Woocommerce" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl2.png" alt="bb press" /></li>
    </ul>
</section>









<div class="industry-wrapper">
    <div class="industry-header" id="finance">
        <h2>Industry Expertise</h2>
        <hr />
    </div>
    <div class="industry-content">
        <div id="finance" class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>financial services</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/financial_services.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-finance col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="insurance">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-xs-12 col-sm-12">
                <div class="image-heading"><h4>insurance</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/insurance.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-insurance col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="pharmaceuticals">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>insurance</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/insurance.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>pharmaceuticals</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/pharmaceuticals.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-pharmaceuticals col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="ecommerce">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>ecommerce</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/ecommerce.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-ecommerce col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="healthcare">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>ecommerce</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/ecommerce.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>healthcare</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/healthcare.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-healthcare col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="media">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left visible-xs hidden-lg hidden-md visible-sm col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>media</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/media.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-media col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="telecom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>media</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/media.jpg" alt="Services" class="img-responsive" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>telecom</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/telecom.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-telecom col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="hospitality">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
        <div class="section-right col-lg-12 col-md-12 col-xs-12 animated  bounceInRight delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-xs hidden-lg hidden-md visible-sm">
                <div class="image-heading"><h4>hospitality</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/hospitality.jpg" class="img-responsive" alt="Services" />
            </div>

            <div class="content-right border-hospitality col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p id="retail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <div class="image-heading"><h4>hospitality</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/hospitality.jpg" class="img-responsive" alt="Services" />
            </div>
        </div>
        <div class="section-left col-lg-12 col-md-12 col-xs-12 animated  bounceInLeft delay-250 go">
            <div class="image-left col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="image-heading"><h4>retail</h4></div>
                <hr/>
                <img src="../wp-content/themes/twentyfifteen/images/retail.jpg" class="img-responsive" alt="Services" />
            </div>
            <div class="content-right border-retail col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="content-wrapper">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <h4><strong>Lorem Ipsum</strong></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <a href="#"><button type="button" class="btn btn-default content-button">Read More...</button></a>
            </div>
        </div>
    </div>
</div>
<section class="center slider" style="float:left; width:100%;">
    <ul id="scroller">
        <li><img src="../wp-content/themes/twentyfifteen/images/cl1.png" alt="Woocommerce" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl2.png" alt="bb press" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl3.png" alt="MySql" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl4.png" alt="Wordpress" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl5.png" alt="JQuery" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl1.png" alt="Woocommerce" /></li>
        <li><img src="../wp-content/themes/twentyfifteen/images/cl2.png" alt="bb press" /></li>
    </ul>
</section>